.lve {
  border: 1px solid #ddd;
}
.lve__row {
  display: flex;
}
.lve__value {
  flex: 1 0;
  padding: 5px 0 5px 5px;
  cursor: text;
  font-size: 14px;
  line-height: 1.3em;
  overflow: hidden;
}
.lve__tools {
  flex: 0 1;
}
.lve__liquid, .lve__text {
  vertical-align: baseline;
  min-width: 1px;
}
.lve__liquid {
  position: relative;
  padding: 0 15px 0 2px;
  cursor: pointer;
  margin: 0 1px;
  background-color: #ddd;
  border-radius: 3px;
  display: inline-block;
}
.lve__liquid-remove {
  position: absolute;
  right: 2px;
  top: 50%;
  color: white;
  background-color: red;
  font-size: 0;
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
  margin-top: -5px;
}
.lve__text {
  outline-style: none;
  display: inline;
}
.lve__add {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: #ddd;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
}

.lve-drop {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  z-index: 100;
  width: 1px;
  height: 1px;
}
.lve-drop__content {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  text-align: left;
  font-size: 14px;
  line-height: 1em;
  min-width: 100px;
}
.lve-drop_state_visible {
  display: block;
}
.lve-drop_align_left .lve-drop__content {
  left: 0;
  right: auto;
}
.lve-drop_align_left .lve-drop__childs {
  right: auto;
  left: 100%;
}
.lve-drop__default-wrap {
  display: flex;
  align-items: flex-start;
  padding: 5px 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ddd;
}
.lve-drop__default-label {
  flex: 0 1;
  font-size: 12px;
  line-height: 17px;
  margin: 0 5px 0 0;
  white-space: nowrap;
}
.lve-drop__default-input {
  flex: 1 0 auto;
  border: 1px solid #ddd;
  font-size: 12px;
  line-height: 15px;
  padding-left: 5px;
  box-sizing: border-box;
  outline-style: none;
}
.lve-drop__item {
  cursor: pointer;
  padding: 2px 15px 2px 5px;
  position: relative;
}
.lve-drop__item:hover {
  background-color: #ddd;
}
.lve-drop__item:hover > .lve-drop__childs {
  display: block;
}
.lve-drop__item_type_childs:after {
  content: '';
  right: 0;
  top: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(238, 238, 238, 0);
  border-left-color: #333;
  border-width: 5px;
  margin-top: -5px;
}
.lve-drop__childs {
  position: absolute;
  right: 100%;
  top: 0;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: none;
  min-width: 150px;
}
